*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    background-color: #9b59b6;
    width: 100%;
    min-height: 100vh;
    flex-direction:column ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#temp{
    margin-top: 40px;
}
#image{
    padding: 0px;
    width: 200px;
    height: auto;
}
#input{
    padding: 10px;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.row{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-size: 40px;
    color:#ecf0f1;
}